# Conda environments
.env
.conda/
conda-meta/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Virtual environments
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Installers
*.sh
*.exe
*.msi

# Logs
*.log
